* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 /*utility*/
:root {
    --zm-page: #000000;
    --zm-endpg: #222222;
    --zm-shscreen:#4bc800;
    --zm-meeting:#aa2323;
    --zm-grey: #4a4a4a;
    --zm-transparent: rgba(0, 0, 0, 0.351);
}

body{
    background-color: var(--zm-page);
    color: white;
}

/* end utility*/

/*header*/
header {
    height: 40px;
    text-align: end;
    padding: 0.2rem;
}

.btn {
    display: inline-block;
    border: none;
    padding: 0.3rem 0.25rem;
    border-radius: 0.25rem;
    background-color: transparent;
}

.btn-color {
    background-color: var(--zm-grey);
}

.d-flex {
    display: flex;
}

/*end header*/


/*main */

main{
    height: calc(100vh - 120px);

}

.partecipants {
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: auto;
    padding: 1rem 0;
    gap: 0.25rem;
}
.user {
    width: 250px;
    height: 150px;
    position: relative;
}

.user img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.user .id {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.351);
    padding: 0.25rem 0.5rem;
    overflow: hidden;
}

/*end main*/

/*footer*/
.mute{
    margin-left: 2rem;
    font-size: 10px;
}



.card p,i {
    color: white;
}

.col-cent {
    width: calc(70%/8);
    height: 100%;
}

.end {
    width: 20%;
}

footer {
    background-color: var(--zm-endpg);
    height: 80px;
}

.menu {
    height: 100%;
}

.arrow {
    margin-left: 0.2rem;
}

/*end footer*/