* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 /*utility*/
:root {
    --zm-page: #000000;
    --zm-endpg: #222222;
    --zm-shscreen:#4bc800;
    --zm-meeting:#aa2323;
    --zm-grey: #4a4a4a;
    --zm-transparent: rgba(0, 0, 0, 0.351);
}

body{
    background-color: var(--zm-page);
    color: white;
}

/* end utility*/

/*header*/
header {
    height: 40px;
    text-align: end;
    padding: 0.2rem;
}

.btn {
    display: inline-block;
    border: none;
    padding: 0.3rem 0.25rem;
    border-radius: 0.25rem;
    background-color: transparent;
}

.btn-color {
    background-color: var(--zm-grey);
}

.d-flex {
    display: flex;
}

/*end header*/


/*main */

main{
    height: calc(100vh - 120px);

}

.partecipants {
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: auto;
    padding: 1rem 0;
    gap: 0.25rem;
}
.user {
    width: 250px;
    height: 150px;
    position: relative;
}

.user img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.user .id {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.351);
    padding: 0.25rem 0.5rem;
    overflow: hidden;
}

/*end main*/

/*footer*/

footer {
    background-color: var(--zm-endpg);
    height: 80px;
}


nav {
    position: sticky;
    height: 5rem;
    bottom: 0;
    left: 0;
    z-index: 10;
    justify-content: space-between;
    align-items: center;

}

.menu {
    flex-grow: 2;
    justify-content: center;
}

.record {
    justify-content: flex-end;
}

.control {
    padding: 1rem;
    flex-direction: column;
    text-align: center;
}

.control:hover h1 {
    text-shadow: whitesmoke 1px 0 10px;
}

.active {
    color: var(--zoom-active);
}

.options {
    align-items: center;
}

.stop_rec {
    background-color: var(--zm-grey);
}

.stop_rec p {
    color: var(--zm-meeting);
    padding: 2rem;
}

.stop_rec:hover p {
    text-shadow: red 1px 0 10px;
}

/*end footer*/